h2 {
    background-color: black;
    color: white;
    text-align: center;
}   
.right {
    outline: blue;
    background-color: blue;

}
.left {
    outline: red;
    background-color: red;
    width: 100%;
}
#search_history {
    width: 10%;
}
.uvi {
    padding: 5px;

}
.low {
    background-color: green;
}
.moderate {
    background-color: yellow;
}
.high {
    background-color: orange;
}
.veryHigh {
    background-color: red;
}
.extreme {
    background-color: purple;
}