
h2 {
    text-align: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 75px;
    padding-bottom: 20px;
    padding-top: 20px;

}   
.right {
    outline: blue;
    background-color: blue;
    width: 100%;

}
.left {
    outline: red;
    background-color: red;
    width: 100%;
    padding: 10
}
h3 {
    text-size-adjust: 20px;
}
.article > h3 {
    text-align: center;
}

.search {
    padding-bottom: 10px;
}
label {
    font-weight: bold;
}
#search_history {
    width: 10%;
}
.bottom {
    padding: 10%;
    display: flex;
     
} 
p {
    font-weight: bold;
}

/* .uvi {
    padding: 5px;

} */
.low {
    background-color: green;
}
.moderate {
    background-color: yellow;
}
.high {
    background-color: orange;
}
.veryHigh {
    background-color: red;
}
.extreme {
    background-color: purple;
}
.forecastCard {
    width: 50%;
    display: flex;
    align-items: horizontal;
    padding: 0;
    
}
